@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Roboto:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #dddcdc;
  display: grid;
  grid-template-rows: 1fr auto;
}
header .naslovna {
  width: 70%;
  margin: 0 auto;
}
header .naslovna img {
  width: 100%;
  height: 100%;
}
header nav {
  background-color: #93c4ff;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 5rem;
}
header nav article {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
header nav article figure {
  width: 4rem;
}
header nav article figure img {
  width: 100%;
}
header nav ul {
  display: flex;
  gap: 1.5rem;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
}

main {
  background-image: url(../images/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 0rem 0rem 1rem 0rem;
}
main section {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0.5rem;
  gap: 1rem;
  width: 70%;
  margin: 0 auto;
}
main section h1 {
  font-size: 2rem;
  margin-left: 5rem;
}
main section .sectionContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
main section .sectionContainer .filterHidden {
  display: none;
}
main section .sectionContainer .gridForm {
  grid-column: span 3;
  padding: 1rem;
  height: 100%;
}
main section .sectionContainer .gridForm form {
  background-color: #fff;
  padding: 2.5rem 1rem;
  border-radius: 1.5rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 3rem;
}
main section .sectionContainer .gridForm form select, main section .sectionContainer .gridForm form input, main section .sectionContainer .gridForm form button {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}
main section .sectionContainer .gridForm form button {
  background-color: #ffa500;
}
main section .sectionContainer img {
  border: 3px solid white;
  border-radius: 0.5rem;
}
main article {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0.5rem;
}
main article figure {
  width: 300px;
  background-color: #ffffff;
  height: fit-content;
  border-radius: 0.5rem;
}
main article figure img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}
main article figure figcaption {
  padding: 0.5rem;
  text-align: center;
}

footer {
  background-color: #000000;
  padding: 1rem;
  color: #fff;
}
footer section {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}
footer section article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer section article h3 {
  font-size: 1.7rem;
}

@media (max-width: 1200px) {
  .naslovna {
    width: 100% !important;
  }
  nav {
    padding: 0.5rem 0.5rem !important;
  }
  nav .mdHidden {
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  main section {
    width: 100% !important;
  }
  main section .imgHidden {
    display: none;
  }
  main section .gridForm {
    grid-column: span 4 !important;
  }
  main section .gridForm form {
    display: grid;
    padding: 2rem !important;
    grid-template-columns: repeat(2, 1fr) !important;
    row-gap: 2rem !important;
  }
  main section .gridForm form select, main section .gridForm form input, main section .gridForm form button {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    padding: 0.5rem;
  }
  footer section {
    width: 90% !important;
  }
}
@media (max-width: 624px) {
  .sectionContainer .filterHidden {
    display: flex !important;
    grid-column: span 4;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 1px 1px 5px wheat;
  }
  .sectionContainer .gridForm {
    display: none;
  }
  footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer section article {
    gap: 0rem !important;
  }
}

/*# sourceMappingURL=styles.css.map */
