@mixin mobilni {
    @media (max-width: 624px) {
        @content;
    }
}


@mixin tablet {
    @media (max-width: 1200px) {
        @content;
    }
}


@mixin customSIB($customPadding: null) {
    select, input, button {
        width: 100%;
        height: 100%;
        border-radius: 0.3rem;
        @if $customPadding {
            padding: $customPadding;
        }
        @content;
    }
}